body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
    background-color: rgb(233, 232, 229);
}

.head{
    background-color: white;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.068);
    margin: 12px;
    /*Borda parte de baixo*/
    height: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*.container{
    display: grid;
    grid-template-columns: 20% 68% 12%;
    background-image: url(../imagens/large1.jpg);
    height: 50%;
    padding: 0;
}*/
.container{
    display: flex;
    background-image: url(../imagens/large2.jpg);
    height: 50%;
    padding: 0;
}

.image-profile{
    padding-top: 70px;
    padding-left: 20px;
    
}

.image-profile img{
    border: solid 3px rgb(240, 240, 240);
    border-radius: 50%;
}

.text-head{
    padding-top: 160px;
    padding-left: 50px;
    width: 900px;
    line-height: 0;
    text-align: left;
}

.text-head h1{
    font-size: 50px;
}

.text-head p{
    font-size: 22px;
}

.link-linkedin{
    padding-top: 210px;
    padding-left: 10px;
    padding-right: 15px;
}

.link-linkedin a{
    display: block;
    text-align: center;
    background-color: rgb(52, 96, 230); 
    height: 15px;  
    padding: 10px;
    text-decoration: none ;
    color: white;
    text-transform: uppercase;
    border-radius: 15px;
    font-size: 16px;
}


section{
    margin-top: 20px;
    background-color: white;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.068);
    padding: 20px;
}

.section-one{
    /*Distanciamento entre linhas*/
    line-height: 1.5em;
}

.section-one h2{
    /*Letras em maiúscula*/
    text-transform: uppercase;
    font-size: 18px;    
}

.section-one h3{
    padding-left: 30px;
}

.section-one p{
    /*Paragráfo*/
    text-indent: 4em;
    font-size: 14px
}

.section-two h2{
    text-transform: uppercase;
    font-size: 18px;  
}

.section-one ol{
    padding-left: 50px;
    color: rgb(32, 141, 130);
    font-weight: bolder;
    font-size: 16px;
}

.tabela{
    border-collapse: collapse;
}

.tabela tr th, td{
    width: 200px;
    border: solid 1px gray;
    text-align: left;
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
}

.tabela tr th{
    background-color: green;
    color: white;
}

.tabela tr:nth-child(odd){
    background-color: rgb(226, 224, 224);
}
