* {
    font-family: "Helvetica Neue","Helvetica Neue LT Pro",Helvetica,Arial,sans-serif;
    font-size: 1rem;  
}

/* resetar os estilo padrão do navegador */
body {
    margin: 0;
    padding: 0;
}

.h-layout {
    grid-area: header;
    /*border: 2px solid blue;
    /*margin: auto*/;
}

.logo1{
    /*ajustar tamanho da logo*/
    width: 250px;
    height: 45px;
    /*centralizar logo*/
    margin: auto;
    display: block;
}

.n-layout{
    grid-area: nav;
    /*border: 2px solid red;*/
    background-color: rgb(249, 249, 249);
    text-align: center;
    height: 50px;    
}

.menu{
    /*transpor lista*/
    display: inline-flex; 
}

.lista{
    /*centralizar lista*/
    margin: 0px 10px 10px 20px;
    font-size: 12px;
}

.link1{
    /*Retirar marcadores de link*/
    text-decoration: none; 
    color: black; 
    font-size: 14px;
    font-family: "Helvetica Neue","Helvetica Neue LT Pro",Helvetica,Arial,sans-serif;
}

.link1:hover{
    color: rgb(0, 162, 255)
}

.s-layout{
    grid-area: section;
    /*border: 2px solid orange;*/
    color: white;
    background-color: black; 
    height: 50px;    
}

.ações{
    /*tipo de mascadores da lista (nenhum marcado escolhido)*/
    list-style-type: none;
    display: inline-flex; 
    margin: 0;
}

.ações li {
    margin-top: 14px;
}

.lista2{
    /*centralizar lista*/
    margin: 0px 15px 0px 15px;
    font-size: 12px;
}

.linkwhite{
    text-decoration: none; 
    color: white;
    font-size: 11px;
    /*Fonte em negrito*/
    font-weight: bold;
    border-radius: 100%
}

.font-perc{
    color: rgb(168, 54, 54);
    font-size: 11px;
}

.font-perc2{
    color: rgb(29, 177, 122);
    font-size: 11px;
}

.linkblack{
    text-decoration: none; 
    color: black;   
}

.linkblack:hover{
    color: rgb(0, 162, 255)
}

.master {
    width: 1280px;
    margin: auto;
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 10px;
}

.master .master-esquerda {
  display: grid;
  grid-template-columns: 65% 35%;
}

.a1-layout{
    grid-area: article1;
    background-image: url(../imagens/minerio-de-ferro.jpg);
    height: 320px;
}

.master.master-direita {
    height: 300px;
    background-color: pink;
}

.mais-noticias {
    /*Tirando espaçamento ao lado esquerdo*/
    padding: 0;
    list-style-type: none;
}

.mais-noticias i {
    color: rgb(0, 145, 255);
}