.grid-layout {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "section section section"
    "article1 article3 article6"
    "article1 article4 article7"
    "article2 article5 article8"
    ;
}

.h-layout {
    grid-area: header;
    border: 2px solid blue;
    margin: auto;
}

.n-layout{
    grid-area: nav;
    border: 2px solid red
}

.s-layout{
    grid-area: section;
    color: white;
    background-color: black;
    border: 2px solid orange;
}

.a1-layout{
    grid-area: article1;
    border: 2px solid green
}

.a2-layout{
    grid-area: article2;
    border: 2px solid black
}

.a3-layout{
    grid-area: article3;
    border: 2px solid rgb(58, 61, 56)
}

.a4-layout{
    grid-area: article4;
    border: 2px solid rgb(0, 247, 255)
}

.a5-layout{
    grid-area: article5;
    border: 2px solid purple}

.a6-layout{
    grid-area: article6;
    border: 2px solid rgb(119, 128, 0)}

.a7-layout{
    grid-area: article7;
    border: 2px solid rgb(241, 6, 85)}

.a8-layout{
    grid-area: article8;
    border: 2px solid rgb(151, 142, 129)}