* {
    font-family: "Helvetica Neue","Helvetica Neue LT Pro",Helvetica,Arial,sans-serif;
    font-size: 1rem;  
}

/* resetar os estilo padrão do navegador */
body {
    margin: 0;
    padding: 0;
}

.h-layout {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding-top: 8px;
    /*border: 2px solid blue;
    /*margin: auto*/;
}

.logo1{
    /*ajustar tamanho da logo*/
    width: 240px;
    height: 48px;
    /*centralizar logo*/
    margin: auto;
    display: block;
}

.n-layout{
    grid-area: nav;
    /*border: 2px solid red;*/
    background-color: rgb(249, 249, 249);
    text-align: center;
    height: 45px;    
}

.menu{
    /*transpor lista*/
    display: inline-flex; 
}

.lista{
    /*centralizar lista*/
    margin: 0px 10px 10px 20px;
    font-size: 12px;
}

.link1{
    /*Retirar marcadores de link*/
    text-decoration: none; 
    color: black; 
    font-size: 14px;
    font-family: "Helvetica Neue","Helvetica Neue LT Pro",Helvetica,Arial,sans-serif;
}

.link1:hover{
    color: rgb(0, 162, 255)
}

.s-layout{
    grid-area: section;
    /*border: 2px solid orange;*/
    color: white;
    background-color: black; 
    height: 40px;    
}

.acoes{
    /*tipo de mascadores da lista (nenhum marcado escolhido)*/
    list-style-type: none;
    display: inline-flex; 
}

.lista2{
    /*centralizar lista*/
    margin: 0px 15px 0px 15px;
    font-size: 12px;
}

.linkwhite{
    text-decoration: none; 
    color: white;
    font-size: 11px;
    /*Fonte em negrito*/
    font-weight: bold;
    border-radius: 100%
}

.font-perc{
    color: rgb(168, 54, 54);
    font-size: 11px;
}

.font-perc2{
    color: rgb(29, 177, 122);
    font-size: 11px;
}

.linkblack{
    text-decoration: none; 
    color: black;   
}

.linkblack:hover{
    color: rgb(0, 162, 255)
}

.master {
    width: 1280px;
    margin: auto;
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 8px;
}

.master .master-esquerda {
  display: grid;
  grid-template-columns: 64% 36%;
  margin-left: 16px;
}

.master.master-direita {
    height: 300px;
    margin-top: 5px;
}

.a1-layout{
    background-image: url(../imagens/minerio-de-ferro.jpg);
    height: 320px;
}

.title-image{
    font-size: 14px;
    font-weight: lighter;
    padding-top: 180px;
    margin-left: 40px;
    margin-bottom: 0px;
    
}

.text-image{
    font-size: 24px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 0px;
}

.mais-noticias {
    padding: 0;
    list-style-type: none;
}

.mais-noticias i {
    color: rgb(0, 145, 255);
    font-size: 13px;
}

.noticias{
    list-style-type: none;
}

.text-title{
    font-size: 14px;
    color: gray;
    margin-bottom: 5px;
    margin-top: 0px;
}

.text-paragraph{
    font-size: 20px;
    margin-top: 0px;   
}

.linha{
    color: rgb(163, 163, 163);
}

.text-notice{
    font-size: 14px;
    font-weight: bold;
}

.divisao{
    display: grid;
    grid-template-columns: 25% 75%; 
    height: 90px;
}

.text-paragraph2{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    margin-top: 0px;
}

.foto-noticia1{
    background-image: url(../imagens/follow-on-oferta-subsequente-de-acoes.jpg);
    height: 72px;
    width: 72px;
}

.foto-noticia2{
    background-image: url(../imagens/football-673206_1920.jpg);
    height: 72px;
    width: 72px;
}

.foto-noticia3{
    background-image: url(../imagens/pexels-andrew-neel-trabalho-remoto-computador.jpg);
    height: 72px;
    width: 72px;
}

.espacamento{
    margin-left: 7px;
}
