* {
    font-family: "Helvetica Neue","Helvetica Neue LT Pro",Helvetica,Arial,sans-serif;
    font-size: 1rem;  
}

/* resetar os estilo padrão do navegador */
body {
    margin: 0;
    padding: 0;
}

.h-layout {
    display: grid;
    grid-template-columns: 11% 78% 11%;
    margin: 20px 0px 12px 0px;
}

.menu{
    padding: 12px 20px;  
}

.menu a{
    color: gray;
}

.menu a:hover{
    color: black;
}

.logo1{
    /*ajustar tamanho da logo*/
    width: 240px;
    height: 48px;
    /*centralizar logo*/
    margin: auto;
    display: block;
}

.actions{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    
}

.login{
    background: white;
    /*Diferença de flex para inline-flex*/
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding-right: 8px;
}

.login div a img{
    width: 20px;
    height: 20px;
    padding-top: 5px;
    margin-right: 0;
}

.login div button {
    border: none;
    box-shadow: none;
    background-color: white;
    cursor: pointer; /*Faz a mão para clicar em um icone*/
    font-weight: 500;
    font-size: 13px;
    height: 35px;
    width: 35px;
}

.login:hover{
    background-color: #f0f0f0; 
    cursor: pointer; /*Faz a mão para clicar em um icone*/ 
}

.search{
    padding: 12px;
}

.search a{
    color: gray;
}

.search a:hover{
    color: black;
}

.n-layout{
    background-color: rgb(249, 249, 249);
    display: flex;
    justify-content: center;
    height: 40px;   
}

.n-layout ul {
    /*transpor lista*/
    display: inline-flex;
    font-size: 12px;
    list-style-type: none;
}

.n-layout ul li span{
    margin: 0 10px;
}

.n-layout ul li a{
    /*Retirar marcadores de link*/
    text-decoration: none; 
    color: black;
    font-size: 14px;
}

.n-layout ul li a:hover{
    color: rgb(0, 162, 255)
}
/* Qual das duas formas devo fazer, pois só tenho uma img
.n-layout ul li a img{
    height: 13px;
    padding-right: 10px;
}*/

.arrow{
    height: 13px;
    padding-right: 10px;
}

.s-layout{
    grid-area: section;
    color: white;
    background-color: black; 
    height: 40px;
    /*Centralizando com flex*/
    display: flex;
    align-items: stretch;
    justify-content: space-between; 
}

/*Fazer dessa forma ou igual está no nav*/
.acoes{
    /*tipo de mascadores da lista (nenhum marcado escolhido)*/
    list-style-type: none;
    display: inline-flex; 
}

ul.acoes{
    margin: 0;
    padding-left: 0;
    /*Para linha que separar ações não quebrar na troca de layouts*/
    display: flex;
    align-items: stretch;
}

/*Colocando linhas entre ações*/
ul.acoes li{
    font-size: 11px;
    border-right: solid 1px rgba(51, 51, 51, 0.753);
    display: flex;
    align-items: center;
    /*Alinhar ações. NÃO ENTENDI A MONTAGEM DESSA ESTRUTURA*/
    padding-right: 20px;
    margin: 0px 10px;
}

ul.acoes li:first-child {
    margin-left: 15px;
}

ul.acoes li:last-child{
    border-right: none;
}

ul.acoes li a{
    text-decoration: none; 
    color: white;
    font-size: 11px;
    /*Fonte em negrito*/
    font-weight: bold;
}

.font-perc{
    color: rgb(168, 54, 54);
    font-size: 11px;
    margin-left: 2px;
}

.font-perc2 {
    color: rgb(29, 177, 122);
    font-size: 11px;
    margin-left: 2px;
}

.master {
    width: 1280px;
    margin: auto;
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 8px;
}

.master .master-esquerda {
    display: grid;
    grid-template-columns: 64% 36%;
    margin-left: 16px;
}

.linkwhite{
    text-decoration: none; 
    color: white;
    font-size: 11px;
    /*Fonte em negrito*/
    font-weight: bold;
}

/*criando zoom imagem (cria uma animação)*/
@keyframes nossaanimacao {
    from {
        background-size: 100%;
    }
    to {
        background-size: 130%;
    }
}
.a1-layout {
    background-image: url(../imagens/minerio-de-ferro.jpg);
    height: 320px;
    /* configurando zoom imagem*/
    background-size: 100%;
    background-position: center;
}

/*Chamando zoom imagem*/
.a1-layout:hover {
    animation: nossaanimacao 0.4 forwards;
}

/*Definir essa class ou fazer com a1-layout p?*/
.title-image {
    font-size: 14px;
    font-weight: lighter;
    padding-top: 180px;
    margin-left: 40px;
    margin-bottom: 0px;
    
}

.text-image {
    font-size: 24px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 0px;
}

.mais-noticias {
    padding: 0;
    list-style-type: none;
    font-size: 15px;
}

.mais-noticias li{
    margin-bottom: 5px;
}

.mais-noticias i {
    color: rgb(0, 145, 255);
    font-size: 13px;
}

.mais-noticias li a samp{
    font-size: 14px;
    font-weight: bold;
}

.linkblack {
    text-decoration: none; 
    color: black;   
}

.linkblack:hover {
    color: rgb(0, 162, 255)
}


.noticias{
    list-style-type: none;
}

.noticias li p{
    font-size: 14px;
    color: gray;
    margin-bottom: 5px;
    margin-top: 0px;
}

.noticias li a h2{
    font-size: 20px;
    margin-top: 0px;
}

.linha{
    margin-top: 5px;
    margin-bottom: 15px;
}

.master.master-direita {
    height: 300px;
    margin-top: 5px;
}

.divisao{
    display: grid;
    grid-template-columns: 25% 75%; 
    height: 90px;
}

.text-paragraph2{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    margin-top: 0px;
}

.foto-noticia1{
    background-image: url(../imagens/follow-on-oferta-subsequente-de-acoes.jpg);
    height: 72px;
    width: 72px;
    /*Ajustar tamanho da foto*/
    background-size: cover;
}

.foto-noticia2{
    background-image: url(../imagens/football-673206_1920.jpg);
    height: 72px;
    width: 72px;
    /*Ajustar tamanho da foto*/
    background-size: cover;
}

.foto-noticia3{
    background-image: url(../imagens/pexels-andrew-neel-trabalho-remoto-computador.jpg);
    height: 72px;
    width: 72px;
    /*Ajustar tamanho da foto*/
    background-size: cover;
}

.espacamento{
    margin-left: 7px;
}

.rodape{
    background-color: rgb(18, 18, 18);
    padding: 50.5px;
    margin-top: 50px
}

.container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 100%;
}

.container ul{
    list-style-type: none;
    padding: 0px;
}

.container ul li{ 
    margin-top: 10px;
}

/*Não consegui fazer first-child para tirar essas classes*/
.linkcabecalho{
    color: #6c757d;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
}

.linkcabecalho:hover{
    color: white;
}

.linkrodape{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 400;
}

.logo-rodape{
    width: 140px;
    height: 28px;
    padding-top: 80px;
    margin-bottom: 24px;
}

.list-rodape{
    list-style-type: none;
    display: inline-flex;
    padding: 0 0 40px;
    margin: 0;
    gap: 15px;
}

.list-rodape li a{
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.list-redessociais{
    list-style-type: none;
    display: inline-flex;
    padding: 0 0 40px;
    margin: 0;
}

.list-redessociais li{
    /*Alinhando ao centro logos redes sociais*/
    margin-left: 12px;
    text-align: center;
}

.list-redessociais li:first-child{
    margin-left: 0;
}

.list-redessociais li a{
    /*Contruindo cícurlo de fundo nas logos das redes sociais*/
    display: block;
    background-color: rgba(65, 65, 65, 0.568);
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.9);
}  

.image-googlePlay{
    background-image: url(../imagens/google-play-badge.webp);
    width: 135px;
    height: 40px;
    background-size: cover;
}

.image-appStore{
    background-image: url(../imagens/app-store-badge.webp);
    width: 120px;
    height: 40px;
    background-size: cover;
}
